

<!DOCTYPE html>
<html>
<head>
<title>Smart Time</title>
</head>
<body>
<h1>Craft Your Perfect Schedule with Smart Time Today!</h1>
<p>Smart Time is the ultimate time management tool that empowers you to:</p>
<ul>
<li>Easily input your tasks and available time slots</li>
<li>Generate a tailored planner that fits your unique needs</li>
<li>Say goodbye to stress and reclaim your time</li>
</ul>
<p>Smart Time is designed to help you:</p>
<ul>
<li>Boost productivity by streamlining your schedule</li>
<li>Achieve better work-life balance</li>
<li>Gain control of your day and accomplish more</li>
</ul>
<form action="/schedule" method="POST">
<label for="tasks">Tasks:</label>
<input type="text" name="task" id="tasks" required>
<br>
<label for="time_slots">Time Slots:</label>
<input type="text" name="time_slot" id="time_slots" required>
<br>
<input type="submit" value="Generate Schedule">
</form>
</body>
</html>


